:root {
  --color-blue: #0987ee;
  --color-dark-blue: #0f2534;
  --color-blue-grey: #5b7280;
  --color-light-blue: #eef7ff;
  --color-blue-normal: #d2ecfe;
  --color-light-grey: #f4f5f6;
  --color-grey: #e8ebed;
  --color-dark-grey: #6e757b;
  --color-grey-normal: #b3b8ba;
  --color-warning: #ff364a;
  --color-available: #3fc96e;
}
